* {
  margin: 0;
  padding: 0;
}

/* Reset the Styles */
.container {
  padding: 2.5em;
  background-color: #efefef;
  display: grid;
  grid-template: auto 1fr auto auto/repeat(2, 1fr) minmax(auto, 20em);
  grid-gap: 1em;
}

header {
  border-radius: 0.5em;
  padding: 1em;
  background-color: darkblue;
  grid-column: 1/-1;
  grid-row: span 1;
}
header .header__title {
  color: white;
  font: 800 2em "Roboto Mono", monospace;
  text-decoration: underline solid white 0.1em;
}

main {
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: white;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  grid-auto-flow: dense row;
  grid-gap: 0 0.5em;
  grid-column: span 2;
  grid-row: span 1;
}
main .content__title {
  margin: 0.2em 0;
  color: darkblue;
  font: 800 1.6em "Roboto Mono", monospace;
  grid-column: 1/-1;
}
main .content__paragraph {
  width: 95%;
  margin: 0.25em auto;
  padding: 0.25em;
  color: black;
  font: 500 1em "Roboto", sans-serif;
  grid-column: 1/-1;
}
main article {
  border-left: 0.2em solid darkblue;
  border-right: 0.2em solid darkblue;
  padding: 1em;
  grid-column: span 1;
}
main article .article__title {
  margin: 0.25em 0;
  border-bottom: 0.2em solid darkblue;
  color: darkblue;
  font: 800 1.2em "Roboto", sans-serif;
}
main article .article__paragraph {
  margin: 0.25em 0;
  padding: 0.25em;
  color: black;
  font: 400 0.95em "Roboto", sans-serif;
}

aside {
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(0, 100, 255, 0.6);
  grid-column: -2/-1;
  grid-row: span 2;
}
aside .aside__title {
  margin: 0.25em 0;
  border-bottom: 0.2em solid darkblue;
  color: black;
  font: 600 1.5em "Roboto", sans-serif;
}
aside .aside__paragraph {
  color: black;
  font: 600 1em "Roboto", sans-serif;
}

footer {
  border-radius: 0.5em;
  padding: 2em 1em;
  background-color: darkblue;
  grid-column: 1/-1;
  grid-row: -2/-1;
}
footer .footer__title {
  color: white;
  font: 800 1.2em "Roboto", sans-serif;
}
footer .footer__paragraph {
  color: #ddd;
  font: 500 1em "Roboto", sans-serif;
}