* { margin: 0; padding: 0; } /* Reset the Styles */

.container {
 padding: 2.5em;

 background-color: #efefef;

 display: grid;

 grid-template: auto 1fr auto auto / repeat(2, 1fr) minmax(auto, 15em);
 grid-gap: 1em;
 grid-template-areas: "header header header"
                      "main   main   aside "
                      "nav    widget aside "
                      "footer footer footer";

 font-size: 16px;
}

header {
 border-radius: 0.5em;
 padding: 1em;

 background-color: darkblue;

 grid-area: header;
 
 .header__title {
  color: white;
  font: 800 2em 'Roboto Mono', monospace;
  text-decoration: underline solid white 0.1em;
 }
}

main {
 border-radius: 0.5em;
 padding: 1.5em;

 background-color: white;

 display: grid;

 grid-template: repeat(1, 1fr) / repeat(2, 1fr);
 grid-auto-flow: dense row;
 grid-gap: 0.5em;

 grid-area: main;

 .content__title {
  margin: 0.2em 0;

  color: darkblue;
  font: 800 1.6em 'Roboto Mono', monospace;

  grid-column: 1 / -1;
 }

 .content__paragraph {
  width: 95%;

  margin: 0.25em auto;
  padding: 0.25em;
  
  color: black;
  font: 500 1em 'Roboto', sans-serif;

  grid-column: 1 / -1;
 }

 article {
  border: 1px solid rgba(0, 50, 255, 0.3);
  border-radius: 0.5em;
  padding: 1em;

  grid-column: span 1;

  .article__title {
   margin: 0.25em 0;
   border-bottom: 0.2em solid darkblue;

   color: darkblue;
   font: 800 1.2em 'Roboto', sans-serif;
  }

  .article__paragraph {
   margin: 0.25em 0;
   padding: 0.25em;

   color: black;
   font: 400 0.95em 'Roboto', sans-serif;
  }
 }
}

aside {
 border-radius: 0.5em;
 padding: 1em;

 background-color: rgba(0, 100, 255, 0.6);

 grid-area: aside;

 .aside__title {
  margin: 0.25em 0;
  border-bottom: 0.2em solid darkblue;

  color: black;
  font: 600 1.5em 'Roboto', sans-serif;
 }

 .aside__paragraph {
  color: black;
  font: 600 1em 'Roboto', sans-serif;
 }
}

nav {
 border-radius: 0.25em;
 padding: 1.5em;

 background-color: rgba(0, 50, 255, 0.3);
 
 grid-area: nav;

 .nav__title {
  color: black;
  font: 600 1.2em 'Roboto Mono', monospace;
 }

 .nav__link {
  color: darkblue;
  font: 500 1em 'Roboto', sans-serif;
 }
}

.widget {
 border-radius: 0.25em;
 padding: 1.5em;

 background-color: rgba(0, 0, 255, 0.5);

 grid-area: widget;

 .widget__title {
  color: black;
  font: 600 1.2em 'Roboto Mono', monospace;
 }

 .widget__paragraph {
  color: black;
  font: 400 1em 'Roboto', sans-serif;
 }
}

footer {
 border-radius: 0.5em;
 padding: 2em 1em;

 background-color: darkblue;

 grid-area: footer;

 .footer__title {
  color: white;
  font: 800 1.2em 'Roboto', sans-serif;
 }

 .footer__paragraph {
  color: #ddd;
  font: 500 1em 'Roboto', sans-serif;
 }
}

@media screen and (max-width: 800px) {
 .container {
  grid-template-areas: "header header header"
                       "main   main   main"
                       "aside  aside  aside"
                       "nav    nav    widget"
                       "footer footer footer";

  font-size: 16px;
 }
}

@media screen and (max-width: 650px) {
 .container {
  grid-template-areas: "header header header"
                       "main   main   main  "
                       "aside  aside  aside "
                       "nav    nav    nav   "
                       "widget widget widget"
                       "footer footer footer";
  font-size: 16px;
 }
}